.friends{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 4px;

}

.avatar{
    width:30px;
    height:30px;
}

.item a{
    color: #CBCDD0;
    text-decoration: none;
}