body{
  background-color: #2E2E2D;
}
.app-wrapper{
  
  
  margin: 5px auto;


  display: grid;

  width: 1200px;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas: 
  "h h"
  "n c"
  ;
}

.app-wrapper-content{

    border-radius: 10px;
    grid-area: c;
    background-color: #545353;
}





