body{
  background-color: #2E2E2D;
}
.app-wrapper{
  color: #CBCDD0;
  
  margin: 5px auto;


  display: grid;
  width: 1200px;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas: 
  "h h"
  "n c"
  ;
}

.header{
  border-radius: 10px;
  grid-area: h;
  background-color: #545353;

}

.header img{
  

  width: 60px;
  

}

.nav{
  border-radius: 10px;
  grid-area: n;
  background-color: #545353;

}

.content{
  border-radius: 10px;
  grid-area: c;
background-color: #545353;
}
.content img {
  border-radius: 12px;
  box-sizing:content-box;
  margin: 15px;
  width: 1000px;
  height: 300px;
  object-fit: fill;
}